# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
# Your code goes here
import pandas as pd

url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df1 = pd.read_csv(url1)
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
df2 = pd.read_csv(url2)
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
df3 = pd.read_csv(url3)

In [2]:
df1.rename(columns={"st": "state"}, inplace = True)
df1.columns=df1.columns.str.lower().str.replace(" ","_")
df1.rename(columns={"st": "state"}, inplace = True)

In [3]:
df2.columns
df2.columns=df2.columns.str.lower().str.replace(" ","_")
df2.rename(columns={"st": "state"}, inplace = True)

In [4]:
df3.columns
df3.columns=df3.columns.str.lower().str.replace(" ","_")
df3.rename(columns={"st": "state"}, inplace = True)

In [5]:
#Aqui ha unifico las listas y empiezo con la limpeza
dffin = pd.concat([df1,df2,df3], axis=0)

In [6]:
#Limpieza de asientos vac√≠os y de duplicados.
dffin.drop_duplicates(keep='first')
dffin.dropna(how='all',inplace=True)

In [7]:
#homogenizo valores
dffin['gender'].replace(('Femal','female'), 'F',inplace=True)
dffin['gender'].replace('Male', 'M',inplace=True)

dffin['gender'].replace(('Femal','female'), 'F',inplace=True)
dffin['gender'].replace('Male', 'M',inplace=True)

estados = {"Oregon":"Oregon","Nevada":"Nevada","AZ":"Arizona","Arizona":"Arizona","California":"California","Washington":"Washington", "Cali": "California", "WA":"Washington"}
dffin["state"] = dffin["state"].map(estados)

dffin['education'].replace('Bachelors', 'Bachelor', inplace=True)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [8]:
url4='https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df4 = pd.read_csv(url4)

In [9]:

df4.columns=df4.columns.str.lower().str.replace(" ","_")
df4.rename(columns={"st": "state"}, inplace = True)

#homogenizo valores

df4['gender'].replace(('Femal','female'), 'F',inplace=True)
df4['gender'].replace('Male', 'M',inplace=True)

df4['gender'].replace(('Femal','female'), 'F',inplace=True)
df4['gender'].replace('Male', 'M',inplace=True)

estados = {"Oregon":"Oregon","Nevada":"Nevada","AZ":"Arizona","Arizona":"Arizona","California":"California","Washington":"Washington", "Cali": "California", "WA":"Washington"}
df4["state"] = df4["state"].map(estados)
df4.rename(columns={"st": "state"}, inplace = True)
df4['education'].replace('Bachelors', 'Bachelor', inplace=True)

In [10]:
df4.drop_duplicates(keep='first')
df4.dropna(how="all", inplace=True)

In [11]:
text2= pd.concat([df4,dffin], axis=0)

In [12]:
#Aqui obtengo la primera parte
tablapivotada=pd.pivot_table(text2, index='sales_channel', values='total_claim_amount', aggfunc='sum')
tablapivotada['total_claim_amount']=tablapivotada['total_claim_amount'].round(2)

tablapivotada

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

In [16]:
#Aqui obtengo la segunda parte


tablapiv2=pd.pivot_table(text2, index=['gender', 'education'], values='customer_lifetime_value', aggfunc='count')
tablapiv2['customer_lifetime_value']=tablapiv2['customer_lifetime_value']


tablapiv2

                             customer_lifetime_value
gender education
F      Bachelor                                 3094
       College                                  2954
       Doctor                                    369
       High School or Below                     2897
       Master                                    864
M      Bachelor                                 2877
       College                                  2897
       Doctor                                    374
       High School or Below                     2831
       Master                                    763

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here